[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_EFB498465154354D38202020FF0A3D2F-if00

x_offset: 0 # update with offset from nozzle on your machine
y_offset: 20 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2

home_method: contact
home_method_when_homed: proximity
home_autocalibrate: unhomed
home_gcode_pre_x: _HOME_PRE_AXIS AXIS=X
home_gcode_post_x: _HOME_POST_AXIS AXIS=X
home_gcode_pre_y: _HOME_PRE_AXIS AXIS=Y
home_gcode_post_y: _HOME_POST_AXIS AXIS=Y
home_xy_position: 173.5, 175 # update with your bed center
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 150

[gcode_macro _HOME_PRE_AXIS]
gcode:
  # Adapt this for your printer.

[gcode_macro _HOME_POST_AXIS]
gcode:
  {% set axis = params.AXIS %}
  # Move away
  SAVE_GCODE_STATE NAME=home_post_axis
  G91
  G0 {axis}-10 F3600
  RESTORE_GCODE_STATE NAME=home_post_axis

  # Make sure StallGuard registers are cleared
  M400
  # Set current during print