#[scanner] # update cartographer to scanner
#serial: /dev/serial/by-id/usb-Cartographer_614e_110001800643564738333920-if00
#canbus_uuid: 5bed089e5e82
#_offset: 0                          #adjust for your offset
#ffset: 15                         #adjust for your offset
#libration_method: touch 
#nsor: cartographer
#or_alt: carto
#canner_touch_retract_dist: 5
#scanner_touch_speed: 3
#scanner_touch_max_retries: 10

#[adxl345]
#cs_pin: scanner:PA3
#spi_bus: spi1
#
#[resonance_tester]
#accel_chip: aadxl345as
#probe_points:
#    125, 125, 20
#
#[fdsfadfa]
#accel:
#print: 